.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #314E52;
    color: #fff;
    padding-top: 40px;
    position: fixed;
    transition: width .3s ease;
  }
  
  .sidebar-header {
    justify-content: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 3px #2b4347 solid !important ;
    width: 100%;
  }
  .user-logo{
    font-size: 200%;
    margin-right: 20px;
    margin-left: 8px;
  }
  .use-name{
    margin-top: 6px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 10px;
  }
  
  .sidebar-menu a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .sidebar-icon {
    margin-right: 10px;
    transition: font-weight 0.4s ease;

  }


  /* Media Query for Small Screens */
  @media (max-width: 768px) {
    .sidebar-menu span , .sidebar h5{
      display: none; /* Hide the text */
    }
    .sidebar{
        width: 20% !important;
        align-items: center !important;
    }
    .sidebar-icon{
        font-size: 150% !important;
        margin: auto;
    }
  }
 /*  .sidebar-icon:hover{
    color: rgb(255, 0, 0) !important;
  } */
  .side-actived{
    color: #314e52 !important;
    background-color: whitesmoke !important;
  }
  .sidebar-menu a:hover{
    color: #314e52 !important;
    background-color: white !important;
  }
