.MessageContent {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  