.postAnswer-wrapper{
padding: 0 5% ;
margin-top: 50px;
margin-bottom: 100px;
}
.postAnswer-wrapper textarea{
  height: 90px;
  border: rgba(12, 12, 53, 0.297) 1px solid;
  border-radius: 0;
}
.post-answer-header button{
  float: right;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  font-weight: 600;
}
.postAnswer-wrapper label{
  margin-top: 15px;
}
.postAnswer-wrapper .post-warning{
  border: 1px solid green;
  border-radius: 5px;
  background-color: rgb(205, 255, 131);
  margin-top: 20px;
  padding: 15px;
}
.post-warning .steps-to-avoid ul{
  display:block !important;
  list-style-type: disc;
  font-size: 90% !important;
  margin-top: 12px !important;
}
.post-warning .steps-to-avoid ul li{
  margin-left: initial !important;
}