.answer-content{
    background-color: transparent;
    color: #294044;
/*     border-radius: 10px; */
    margin: auto 10%;
    margin-left: 0px;
    margin-top: 0 !important;
    padding: 20px;
    padding-top: 10px !important;
}
.screenshots-For-answer img{
    max-width: 80% !important;
    max-height: 800px !important;
    border: 1px solid rgba(163, 156, 156, 0.788) !important;
}
.voting-content{
    display: flex;
    margin-top: 15px !important;
}