.selectedQuestion-wrapper{
    height: fit-content;
}
.selectedQuestion-wrapper h4{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-weight: 400 !important;
    font-family: Century Gothic;
}
.screenshots-For-Question h5{
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 400 !important;
    font-family: Century Gothic;
}
.selectedQuestion-wrapper ul{
    list-style-type: none;
    display: flex !important;
    justify-content: space-between;
    width: fit-content;
}
.selectedQuestion-wrapper ul li:nth-child(2){
    margin-left: 20px;
}
.selectedQuestion-wrapper ul li:nth-child(3){
    margin-left: 20px;
}
.questionDescription{
    display: flex;
}
.questionDescription div:nth-child(2){
    border-radius: 2px;
    width: 70%;
    padding: 8px;
    padding-top: 0;
    margin-left: 25px;

}
.votting{
    width: fit-content;
}
.votting .upvote,.downvote{
    font-size: 220%;
}
.votting ol{
    list-style-type: none;
}
.votting ol li:nth-child(2){
    font-size: larger;
    text-align: center;
}
.showTags{
    margin-left: 10%;
    font-size: 120% !important;
}
.showTags button{
    border-radius: 3px !important;
}
.showTags button:nth-child(2), .showTags button:nth-child(3){
    margin-left: 10px !important;
}
.component-before-end{
    margin-bottom: 50px;
}
.img-cover{
    display: flex;
    justify-content: center;
    padding-bottom: 0 !important;
    margin: 0 auto !important;
    padding: 2%;
}
.screenshots-For-Question img{
    max-width: 80% !important;
    max-height: 800px !important;
    border: 1px solid rgba(163, 156, 156, 0.788) !important;
}